<h1> Welcome to the Amazing Point of Sale Tracker App</h1>

<h3>Enter the product that you'd like to track today:</h3>
<br>
<form action="/products" method="post">
  <label for="name">Product Name</label>
  <input id="name" name="name" type="text">

  <label for="price">Product price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>
<br>
<p>List of products and their prices:</p>


<% if @products.any?() %>
<form action="/product_sum/" method="post">
  <input type="hidden" name="_method" value="patch"
    <div class="checkbox">
      <% @products.each() do |product| %>
        <label>
          <input type="checkbox" name="product_ids[]" value="<%= product.id() %>"><a href="/products/<%= product.id() %>/edit"><button type="button" class="btn btn-xs btn-success">Edit</button></a> <%= product.name() %>, $<%= product.price() %>
        </label>
      <% end %>
    </div>
        <button type="submit">Total</button>
  </form>
<% end %>
